<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <div class="theme-switch">
   			<div class="switch"></div>
  		</div>
        <p style="float: left">Dark Quark</p>
    </section>
</section>
