<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <div class="theme-switch">
   			<div class="switch"></div>
  		</div>
        <p style="float: left">Made by <i class="fas fa-user-secret"></i> DentyMods</p> <p style="float: right"><a href="https://scpsl-faq.xyz/tos">Terms of Service</a></p>
    </section>
</section>
